<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <!--links boostrap-->
        <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
      
                        <ul id="menu">
                                         <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                         <li>@Html.ActionLink("About", "About", "Home")</li>
                                         <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                   
                
           
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-1.9.0.min.js"></script>

        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
