<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- icon title bar -->
    <link type="image/x-icon" href="~/Images/icono-agencia-de-viajes.jpg" rel="icon" />

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/othercss/css/heroic-features.css" rel="stylesheet" type="text/css" />

    <!-- Mi CSS -->
    <link href="~/Content/othercss/css/styles.css" rel="stylesheet" />

    

    <title>@ViewBag.Title</title>

    <!-- datepicker -->

    <link href="~/datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/datepicker/js/main.js"></script>

    <script type="text/javascript" src="~/datepicker/js/bootstrap-datepicker.js"></script>

    <script>

        $(function () {
            $('.datepicker').datepicker({

                format: 'yyyy-mm-dd',
                startDate: '-3d',

                autoclose: true,
                endDate: '+0d'

            });

            $('#fechasalida').on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });

            $('#fecharetorno').on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });


            function today() {
                var d = new Date();
                var curr_date = d.getDate();
                var curr_month = d.getMonth() + 1;
                var curr_year = d.getFullYear();

                document.miform.tdci.value = curr_year + "-" + curr_month + "-" + curr_date;
                document.miform.tdcf.value = curr_year + "-" + curr_month + "-" + curr_date;
            }

        });
    </script>
    <!-- datepicker -->


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="cuerpo">

    @{

        String NAC1 = "NAC1";
        String ITN1 = "ITN1";
    }
    <!-- Navigation -->
    <!--  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> -->

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Inicio","Clientes")">
                    <img alt="logo E&M" src="~/Images/easytravelmenu.png" style="margin-top: -10px;">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    <li>
                        <a href="@Url.Action("Inicio","Clientes")">Inicio</a>
                    </li>

                    <li>
                        @Html.ActionLink("Paquetes Nacionales", "PaquetesXtipo", new { tipopaquete = NAC1 })
                    </li>
                    <li>
                        @Html.ActionLink("Paquetes Internacionales", "PaquetesXtipo", new { tipopaquete = ITN1 })
                    </li>
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="Acerdadenosotros.jsp">Acerda de nosotros</a>
                    </li>
                    <li>
                        <a href="Contactenos">Contactenos</a>
                    </li>
                    <li>
                        <button class="btn btn-default" style="margin-top: 8px;margin-left: 10px" data-toggle="modal" data-target="#myventana">Login </button>
                    </li>

                    <!-- mi dropdow -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> No logueado @ViewBag.usuario <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="profile.jsp"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="ProfileUpdate.jsp"><i class="fa fa-fw fa-gear"></i> Profile update</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="salir"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>

                    <!-- fin dropdown -->

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container ">

        <!-- Jumbotron Header -->

        <div class="row">
            @RenderSection("head", required: false)
            @RenderBody()
        </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <p>Copyright &copy; EasyTravel Travel 2015</p> -->

                    <p>
                        Corporacion&copy; EasyTravel Travel 2015 - Agencia de Viajes y Easy Travel  Todos los derechos reservados Lima Perú
                        <img src="~/Images/ico_peru.jpg" />
                    </p>

                    <!--  <p>JavaDeveloper&copy; EasyTravel Travel 2015</p>  -->
                </div>
            </div>
        </footer>

        <!-- toggle modal poup -->
        <!-- poup login -->

        <div id="myventana" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mymodallabel" aria-hidden="true">
            <div class="modal-dialog-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <h4>
                            <i class="glyphicon glyphicon-lock"></i>Login
                        </h4>

                    </div>

                    <form action="-----------------------------------" method="post">

                        <div class="modal-body">

                            <table align="center">

                                <tr>
                                    <td style="width: 113px; "><h4>Usuario</h4></td>
                                    <td>
                                        <input type="text" name="user" class="form-control" id="usuario"   placeholder="usuario">
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 113px; "><h4>Clave</h4></td>
                                    <td><input type="password" name="pwd" class="form-control" id="claves"   placeholder="Contraseña"></td>
                                </tr>

                                <tr>
                                    <td><input type="submit" class="btn btn-success" value="Entrar" style="float: right;margin-right: 5px;"></td>
                                    <td style="height: 65px; "><input type="reset" class="btn btn-primary" value="Borrar" style="float: left;margin-left: 5px;"> </td>
                                </tr>

                            </table>

                        </div>
                    </form>
                    <div class="modal-footer">

                        <!-- 	<button type="reset" class="btn btn-primary">
                        cerrar
                        </button>  -->
                        Eres nuevo ?<a href="@Url.Action("RegistrarCliente","Clientes")"> "Registrate gratis aqui"</a>

                    </div>
                    <div class="modal-footer">

                        <!-- 	<button type="reset" class="btn btn-primary">
                        cerrar
                        </button>  -->
                        Olvide mi clave <a href="RecuperarClave">"Recuperar clave aqui"</a>

                    </div>

                </div>

            </div>

        </div>


    </div>
    <!-- /.container -->
    <!-- jQuery -->

    <script src="~/Content/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>

</html>
