@model AgenciaDeViajes.Models.Empleados
@{
    ViewBag.Title = "Login EasyTravel";
    Layout = "~/Views/Shared/Background_layout.cshtml";
}
@{
    String mensaje = AgenciaDeViajes.Controllers.SeguridadController.mensajesvalidacionempleado;
}
<div id="myventana" class=" " tabindex="-1" role="dialog" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-dialog-sm">
        <div class="modal-content">
            <div class="modal-header">
  
                <h4>
                    <i class="glyphicon glyphicon-lock"></i>Login Easy Travel
                </h4>

            </div>

            @using(Html.BeginForm()){

                <div class="modal-body">

                    <table align="center">

                        <tr>
                            <td style="width: 113px; "><h4>Usuario ID</h4></td>
                            <td>
                                @Html.TextBoxFor(x => x.idEmpleado, htmlAttributes: new { Class = "form-control", placeholder = "ingresar el id del empleado" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ValidationMessageFor(x => x.idEmpleado)
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 113px; "><h4>Clave</h4></td>
                            <td>@Html.PasswordFor(x => x.clave, htmlAttributes: new { Class = "form-control", placeholder = "ingresar la contraseña del empleado" })</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ValidationMessageFor(x => x.clave)
                            </td>
                        </tr>
                        @{

                        if(mensaje!=null){

                        <tr>
                            <td colspan="2">
                                <center><p class="bg-info">  @mensaje </p> </center>
                            </td>
                        </tr>
                        }
                        }
                        <tr>
                            <td><input type="submit" class="btn btn-success" value="Entrar" style="float: right;margin-right: 5px;"></td>
                            <td style="height: 65px; "><input type="reset" class="btn btn-primary" value="Borrar" style="float: left;margin-left: 5px;"> </td>
                        </tr>

                    </table>

                </div>
            }
            <div class="modal-footer">

                <!-- 	<button type="reset" class="btn btn-primary">
                cerrar
                </button>  -->
                <!-- Eres nuevo ?<a href="@Url.Action("RegistrarCliente","Clientes")"> "Registrate gratis aqui"</a> -->

            </div>
            <!-- <div class="modal-footer"> -->

                <!-- 	<button type="reset" class="btn btn-primary">
                cerrar
                </button>  -->
                <!-- Olvide mi clave <a href="RecuperarClave">"Recuperar clave aqui"</a> -->

           <!--  </div> -->

        </div>

    </div>

</div>